<article class="pattern">
  <h3>{{item.name}}</h3>
  
  <div class="pattern_example">{{{item.html}}}</div>

  <div class="pattern_description">{{format-markdown item.description}}</div>
  
  <ul class="action-list">
    {{#each tag in item.tags}}
      <li>{{#linkTo 'tag' tag.id}}{{tag.name}}{{/linkTo}}</li>
    {{/each}}
  </ul>

  <h4 class="h5">Instructions</h4>
  {{format-markdown item.instructions}}

  <div class="pattern_haml">
    <a data-switch-toggle="data-switch-toggle" data-switch="data-switch" href="#toggle-pattern-{{unbound item.id}}">Show haml</a>
    <pre class="switch-content pattern_haml_content" id="toggle-pattern-{{unbound item.id}}">{{item.haml}}</pre>
  </div>
</article>
